@font-face {
    font-family: 'Fraunces';
    src: url('../../fonts/Fraunces.woff2') format("woff2");
}
@font-face {
    font-family: 'Fraunces Italic';
    src: url('../../fonts/Fraunces-Italic.woff2') format("woff2");
}
body {
    background-color:#eee;
    color:#000;
    font-size:1em;
}
h2 {
    font-family: 'Fraunces';
    font-variation-settings: 'wght' 700, 'opsz' 100, 'WONK' 100, 'SOFT' 50;
    font-size:1.7em;
    margin: 0;
    margin-bottom: 1em;
}
p {
    line-height: 1.4em;
}
/*
header h1 {
    font-family:sans-serif;
    font-size:1.2em;
    font-weight:normal;
    color:#000;
}
*/
header a {
    font-family: sans-serif;
    font-size:1em;
    font-weight:normal;
}
time {
    font-family: sans-serif;
    font-size:1.1em;
    margin: 0%;
}
a {
    text-decoration: none;
    color:#5050ff;
}
a:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.05em;
}
header {
    display: grid;
    font-size:1.2em;
    grid-template-columns: repeat(5, 20%);
    grid-gap: 0.5em;
    margin: 1.5em 25%;
}
main {
    display: grid;
    grid-template-columns: 100%;
    margin: 4em 25%;
}
footer {
    font-family: sans-serif;
    display: grid;
    grid-template-columns: repeat(5, 20%);
    grid-gap: 3em;
    margin: 0% 25%;
}
footer ul {
    line-height: 1.4em;
}
ul {
    padding: 0;
    list-style-type: none;
}
.main-header-text {
    color:#000;
}
.masthead {
    grid-column:1/3;
    a {color:#000;}
}
.main-nav {
    display: flex;
    justify-content:space-between;
    grid-column:3/6;
}
.copyright {
    grid-column:1/3;
}
.links {
    grid-column:3/6;
}
.computer {
    margin-top:0.1em;
    margin-right:0.4em;
    float:left;
}
@media screen and (max-width: 1300px) {
    main {
        margin:0% 2%;
    }
    header {
        margin: 1em 2% 3em 2%;
        grid-gap: 0em;
    }
    footer {
        margin: 0% 2%;
        grid-gap: 0em;
    }
    .computer {
        /*margin-top:-0.1em;*/
        /*margin-left:-0.5em;*/
    }
    .copyright {
        grid-column:1/3;
        grid-row:1;
    }
    .links {
        grid-column:1/4;
        grid-row:2;
    }
    .masthead {
        grid-column:1/6;
        grid-row:1;
    }
    .main-nav {
        grid-column:1/4;
        grid-row:2;
        margin-top:0em;
    }
}
@media screen and (max-width: 720px) {
    .main-nav {
        grid-column:1/6;
    }
    .copyright {
        grid-column:1/6;
    }
}
