@font-face {
    font-family: 'Fraunces';
    src: url('../../fonts/Fraunces.woff2') format("woff2");
}
body {
    font-family:sans-serif;
    font-size:1em;
    background-color:#eee;
    color:#000;
}
h2 {
    font-family: 'Fraunces';
    font-variation-settings: 'wght' 700, 'opsz' 100, 'WONK' 100, 'SOFT' 50;
    font-size:2em;
    margin: 0;
    margin-bottom: 1em;
}
p {
    line-height:1.4em;
}
a {
    text-decoration: none;
    color:#5050ff;
}
a:hover {
    text-decoration:underline;
    text-decoration-thickness:0.15em;
}
header {
    display: grid;
    grid-template-columns: repeat(20, 5%);
    margin: 1em 25%;
}
main {
    display: grid;
    grid-template-columns: repeat(20, 5%);
    margin: 0em 25%;
}
ul {
    padding:0;
    margin:0;
    list-style-type: none;
}
footer {
    Display: grid;
    grid-template-columns: repeat(20, 5%);
    margin: 4em 25%;
}
.main-header-text {
    color:#000;
    font-weight:bold;
    a {color:#000;}
}
.masthead {
    grid-column:1/8;
}
.main-nav {
    display: flex;
    justify-content:space-between;
    grid-column:14/21;
}
.post-index {
    grid-column:1/12;
    margin-top:4em;
}
.legal {
    grid-column:1/8;
}
.social {
    grid-column:9/16;
}
.contact {
    grid-column:17/21;
}
@media screen and (max-width: 1300px) {
    main {
        margin:0% 2%;
    }
    header {
        margin:1em 2%;
        row-gap:1em;
    }
    footer {
        margin:0% 2%;
    }
    .masthead {
        grid-column:1/12;
    }
    .main-nav {
        grid-column:14/21;
    }
    .post-index {
        grid-column:1/16;
    }
}
@media screen and (max-width: 720px) {
    .main-nav {
        grid-column:1/9;
    }
    .post-index {
        grid-column:1/21;
    }
    .legal {
        grid-column:1/14;
        grid-row:1;
    }
    .social {
        grid-column:1/14;
        grid-row:2;
    }
    .contact {
        grid-column:1/14;
        grid-row:3;
    }
}
@media screen and (max-width: 600px) {
    .main-nav {
        grid-column:1/14;
    }
    .legal {
        grid-column:1/21;
    }
    .social {
        grid-column:1/21;
    }
    .contact {
        grid-column:1/21;
    }
}
