@font-face {
    font-family: 'Fraunces';
    src: url('../../fonts/Fraunces.woff2') format("woff2");
}
body {
    font-family:sans-serif;
    font-size:1em;
    background-color:#d5d5d5;
    color:#000;
}
h1 {
    font-family: 'Fraunces';
    font-variation-settings: 'wght' 700, 'opsz' 100, 'WONK' 100, 'SOFT' 50;
    font-size:3em;
    line-height:1em;
    margin:0;
    margin-bottom: 0em;
}
h2 {
    font-family: 'Fraunces';
    font-variation-settings: 'wght' 700, 'opsz' 100, 'WONK' 100, 'SOFT' 50;
    font-size:2em;
    line-height:1.2em;
    margin: 0;
    margin-bottom: 1em;
}
p {
    line-height:1.4em;
}
a {
    text-decoration: none;
    color:#5050ff;
}
a:hover {
    text-decoration:underline;
    text-decoration-thickness:0.15em;
}
img {
    margin:1em 0 2em 0;
    width:100%;
}
hr {
    height:2px
}
header {
    display: grid;
    grid-template-columns: repeat(20, 5%);
    margin: 1em 25%;
}
main {
    display: grid;
    grid-template-columns: repeat(20, 5%);
    margin: 0em 25%;
}
article p {
    font-size:1.2em;
}
ul {
    padding:0;
    margin:0;
    margin-bottom:1em;
    list-style-type: none;
}
footer {
    Display: grid;
    grid-template-columns: repeat(20, 5%);
    margin: 12em 25% 4em 25%;
}
footer ul {
    line-height:1.4em;
}
article {
    grid-column:1/16;
    margin-top:2em;
}
.main-header-text {
    color:#000;
    font-weight:bold;
    a {color:#000;}
}
.masthead {
    grid-column:1/8;
}
.main-nav {
    display: flex;
    justify-content:space-between;
    grid-column:14/21;
}
.post-index {
    grid-column:1/12;
    margin-top:2em;
}
.legal {
    grid-column:1/8;
}
.social {
    grid-column:9/16;
}
.contact {
    grid-column:17/21;
}
.highlight pre{
    border-radius:6px;
    font-family:"Inconsolata",monospace;
    font-size:0.9em;
    line-height:1.2em;
    margin:1em 0;
    padding:1em;
    background:#000;
    color:#e0e0ee
}
.highlight .hll{background-color:#444}
.highlight .c{color:#666}
.highlight .err{color:#ff3b30;background-color:#333}
.highlight .k{color:#ff3b30}
.highlight .l{color:#9b59b6}
.highlight .n{color:#e0e0ee}
.highlight .o{color:#3498db}
.highlight .p{color:#e0e0ee}
.highlight .cm{color:#666}
.highlight .cp{color:#666}
.highlight .c1{color:#666}
.highlight .cs{color:#666}
.highlight .ge{font-style:italic}
.highlight .gs{font-weight:bold}
.highlight .kc{color:#ffa000}
.highlight .kd{color:#ffa000}
.highlight .kn{color:#f4d03f}
.highlight .kp{color:#ffa000}
.highlight .kr{color:#ffa000}
.highlight .kt{color:#ffa000}
.highlight .ld{color:#f4d03f}
.highlight .m{color:#9b59b6}
.highlight .s{color:#f4d03f}
.highlight .na{color:#27ae60}
.highlight .nb{color:#27ae60}
.highlight .nl{color:#e0e0ee}
.highlight .nn{color:#e0e0ee}
.highlight .nx{color:#27ae60}
.highlight .py{color:#e0e0ee}
.highlight .nt{color:#f4d03f}
.highlight .nv{color:#e0e0ee}
.highlight .ow{color:#f4d03f}
.highlight .w{color:#e0e0ee}
.highlight .mf{color:#9b59b6}
.highlight .mh{color:#9b59b6}
.highlight .mi{color:#9b59b6}
.highlight .mo{color:#9b59b6}
.highlight .sb{color:#f4d03f}
.highlight .sc{color:#f4d03f}
.highlight .sd{color:#f4d03f}
.highlight .s2{color:#f4d03f}
.highlight .se{color:#9b59b6}
.highlight .sh{color:#f4d03f}
.highlight .si{color:#f4d03f}
.highlight .sx{color:#f4d03f}
.highlight .sr{color:#f4d03f}
.highlight .s1{color:#f4d03f}
.highlight .ss{color:#f4d03f}
.highlight .bp{color:#e0e0ee}
.highlight .vc{color:#e0e0ee}
.highlight .vg{color:#e0e0ee}
.highlight .vi{color:#e0e0ee}
.highlight .il{color:#9b59b6}
@media screen and (max-width: 1600px) {
    main {
        margin:0em 10em;
    }
    header {
        margin:1em 10em;
        row-gap:1em;
    }
    footer {
        margin: 12em 10em 4em 10em;
    }
    .masthead {
        grid-column:1/12;
    }
    .main-nav {
        grid-column:16/21;
    }
    .post-index {
        grid-column:1/12;
    }
}
@media screen and (max-width: 1200px) {
    main {
        margin:0em 1em;
    }
    header {
        margin:1em 1em;
        row-gap:1em;
    }
    footer {
        margin: 12em 1em 4em 1em;
    }
    .masthead {
        grid-column:1/12;
    }
    .main-nav {
        grid-column:16/21;
    }
    .post-index {
        grid-column:1/12;
    }
}
@media screen and (max-width: 1000px) {
    article {
        grid-column:1/21;
        margin-top:1em;
    }
    h1 {
        font-size:2em;
    }
    .main-nav {
        grid-column:1/9;
    }
    .post-index {
        grid-column:1/21;
        margin-top:1em;
    }
    .legal {
        grid-column:1/14;
        grid-row:1;
    }
    .social {
        grid-column:1/14;
        grid-row:2;
    }
    .contact {
        grid-column:1/14;
        grid-row:3;
    }
}
@media screen and (max-width: 600px) {
    .main-nav {
        grid-column:1/14;
    }
    .legal {
        grid-column:1/21;
    }
    .social {
        grid-column:1/21;
    }
    .contact {
        grid-column:1/21;
    }
}
