---
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout>
  <PageHead slot="head" title="About" />
  
  <section>
    <div class="min-w-full">
      <div class="prose mb-8">
        <p>
        Eli is a software/design engineer interested in blockchain(ETH, ZK, NFTs), FOSS/libre graphics, RTL-i18n, Arabic, Islamic & Baháʼí Studies, solo startups, Linux, kids computers, math education, and building simple Unix-like font editing tools.
        </p>
      </div>
    </div>
  </section>
</Layout>
