---
import Breadcrumbs from '@/components/Breadcrumbs.astro'
import Link from '@/components/Link.astro'
import PageHead from '@/components/PageHead.astro'
import Layout from '@/layouts/Layout.astro'
---

<Layout>
  <PageHead slot="head" title="About" />
  <Breadcrumbs items={[{ label: 'About', icon: 'lucide:info' }]} />

  <section>
    <div class="min-w-full">
      <div class="prose mb-8">
        <p>
          Eli is a software/design engineer interested in Crypto(ETH, ZK, NFTs), FOSS/Libre Graphics, RTL-i18n, Arabic, Islamic & Baháʼí Studies, Solo Startups, GNU/Linux, kids computer and math education, and building simple Unix-like font editing tools.
        </p>
      </div>
    </div>
  </section>
</Layout>
