.highlight pre{
    border-radius:6px;
    font-family:"Inconsolata",monospace;
    font-size:.9em;
    line-height:1.3em;
    margin:1em 0;
    padding:1em;
    background:#333;
    color:#e0e0ee
}
.highlight .hll{background-color:#444}
.highlight .c{color:#666}
.highlight .err{color:#ff3b30;background-color:#333}
.highlight .k{color:#ff3b30}
.highlight .l{color:#9b59b6}
.highlight .n{color:#e0e0ee}
.highlight .o{color:#3498db}
.highlight .p{color:#e0e0ee}
.highlight .cm{color:#666}
.highlight .cp{color:#666}
.highlight .c1{color:#666}
.highlight .cs{color:#666}
.highlight .ge{font-style:italic}
.highlight .gs{font-weight:bold}
.highlight .kc{color:#ffa000}
.highlight .kd{color:#ffa000}
.highlight .kn{color:#f4d03f}
.highlight .kp{color:#ffa000}
.highlight .kr{color:#ffa000}
.highlight .kt{color:#ffa000}
.highlight .ld{color:#f4d03f}
.highlight .m{color:#9b59b6}
.highlight .s{color:#f4d03f}
.highlight .na{color:#27ae60}
.highlight .nb{color:#27ae60}
.highlight .nl{color:#e0e0ee}
.highlight .nn{color:#e0e0ee}
.highlight .nx{color:#27ae60}
.highlight .py{color:#e0e0ee}
.highlight .nt{color:#f4d03f}
.highlight .nv{color:#e0e0ee}
.highlight .ow{color:#f4d03f}
.highlight .w{color:#e0e0ee}
.highlight .mf{color:#9b59b6}
.highlight .mh{color:#9b59b6}
.highlight .mi{color:#9b59b6}
.highlight .mo{color:#9b59b6}
.highlight .sb{color:#f4d03f}
.highlight .sc{color:#f4d03f}
.highlight .sd{color:#f4d03f}
.highlight .s2{color:#f4d03f}
.highlight .se{color:#9b59b6}
.highlight .sh{color:#f4d03f}
.highlight .si{color:#f4d03f}
.highlight .sx{color:#f4d03f}
.highlight .sr{color:#f4d03f}
.highlight .s1{color:#f4d03f}
.highlight .ss{color:#f4d03f}
.highlight .bp{color:#e0e0ee}
.highlight .vc{color:#e0e0ee}
.highlight .vg{color:#e0e0ee}
.highlight .vi{color:#e0e0ee}
.highlight .il{color:#9b59b6}
body{
    background-color:#eee;
    color:#000;
    font-family:sans-serif;
    font-size:1.25em;
    line-height:1.5em
}
a{
    color:#ff3b30;
    text-decoration:none
}
a:hover{
    color:#ff3b30
}
a:visited{
    color:#333;
    border-bottom-color:#ff3b30
}
a:link{
    color:#333;
    border-bottom-style:solid;
    border-bottom-color:#ff3b30;
    border-bottom-width:2px
}
h1{
    font-size:2em;
    font-weight:700;
    letter-spacing:-0.04em;
    margin:.24em 0 .25em 0
}
h1 a:link{
    border-bottom-style:none
}
h2{
    color:#333;
    font-size:1.5em;
    font-weight:700;
    letter-spacing:-0.02em
}
h2 a:link{
    border-bottom-style:none
}
h3{
    color:#333;
    font-size:1.5em;
    font-weight:700;
    letter-spacing:-0.02em;
    margin-bottom:1em
}
h3 a:link{
    border-bottom-style:none
}
h4{
    display:inline-block
}
img{
    display:table-cell;
    height:100%;
    margin:1em 0 0 0;
    width:100%;
    vertical-align:middle
}
hr{
    height:2px;
    border-width:0;
    background-color:#333;
    margin-bottom:.3em
}
.tags-index ul{
    list-style-type:none;
    margin:0;
    padding:0
}
.published{
    color:#666;
    float:right
}
@media screen and (max-width: 1050px){
    .published{
        margin-bottom:1em;
        display:block;
        float:none
    }
}
ol{
    list-style:none
}
ul{
    list-style:none
}
.published-post{
    color:#666
}
.post-list a:link{
    border-bottom-style:none
}
.post-info{
    margin-bottom:1.5em
}
#article-header{
    margin-top:0
}
.article-content p{
    margin-top:1em
}
#margin-bottom{
    margin-bottom:1.1em
}
p{
    margin-bottom:1.5em
}
#project-role{
    color:#666;
    float:right
}
code{
    color:#ff3b30
}
.wrapper{
    display:grid;
    grid-gap:1.5em 4em;
    grid-template-columns:repeat(8, 1fr);
    margin:1.5em;
    max-width:100vw
}
@media screen and (max-width: 1300px){
    .wrapper{
        margin:1.5em
    }
}
@media screen and (max-width: 1050px){
    .wrapper{
        margin:1.5em 1em
    }
}

.header{
    grid-column:1/9;
    grid-row:1;
    margin:0
}

.archive{
    grid-column:6;
    grid-row:1
}
.contact{
    grid-column:7;
    grid-row:1
}
.contact a:link{
    border-bottom-style:none
}
.article-index{
    grid-column:2/6;
    grid-row:2/5
}
@media screen and (max-width: 1300px){
    .article-index{
        grid-column:1/9;
        grid-row:2
    }
}
@media screen and (max-width: 1050px){
    .article-index{
        grid-column:1/9;
        grid-row:2
    }
}
.content{
    grid-column:2/7;
    grid-row:2/5
}
@media screen and (max-width: 1300px){
    .content{
        grid-column:1/7;
        grid-row:2/5
    }
}
@media screen and (max-width: 1050px){
    .content{
        grid-column:1/9;
        grid-row:4/5
    }
}
.tags-index{
    grid-column:2/7;
    grid-row:2/5
}
@media screen and (max-width: 1300px){
    .tags-index{
        grid-column:1/7;
        grid-row:2/5
    }
}
@media screen and (max-width: 1050px){
    .tags-index{
        grid-column:1/9;
        grid-row:4/5
    }
}
.tags{
    grid-column:7/8;
    grid-row:2/5
}
.tags a:link{
    border-bottom-style:none
}
@media screen and (max-width: 1300px){
    .tags{
        grid-column:7/9;
        grid-row:3/5
    }
}
@media screen and (max-width: 1050px){
    .tags{
        grid-column:1/9;
        grid-row:7
    }
}
.source-code{
    grid-column:2/4;
    grid-row:5
}
.source-code p{
    margin-bottom:1.5em
}
@media screen and (max-width: 1300px){
    .source-code{
        grid-column:1/4
    }
}
@media screen and (max-width: 1050px){
    .source-code{
        grid-column:1/9;
        grid-row:8
    }
}
.licensing{
    grid-column:4/7;
    grid-row:5
}
.licensing p{
    margin-bottom:1.5em
}
@media screen and (max-width: 1050px){
    .licensing{
        grid-column:1/9;
        grid-row:9
    }
}
.feeds{
    grid-column:7/8;
    grid-row:5
}
.feeds a:link{
    border-bottom-style:none
}
@media screen and (max-width: 1300px){
    .feeds{
        grid-column:7/9
    }
}
@media screen and (max-width: 1050px){
    .feeds{
        grid-column:1/9;
        grid-row:10
    }
}
.youtube-4x3{
    padding-bottom:75%
}
.youtube-16x9{
    padding-bottom:56.25%
}
.youtube-4x3,.youtube-16x9{
    margin:1.35em 0;
    position:relative;
    height:0;
    overflow:hidden
}
.youtube-4x3 iframe,.youtube-16x9 iframe{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    margin:0;
    border:0
}
